src/td2016/bin/
src/td2016/obj/Debug/netcoreapp1.0/.IncrementalCache
src/td2016/obj/Debug/netcoreapp1.0/.SDKVersion
src/td2016/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/td2016/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/td2016/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/td2016/obj/Debug/netcoreapp1.0/td2016dotnet-compile.deps.json
